<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%30.30t] %-30.30c{1} %-5p %m%n" />
      <ThresholdFilter level="info" />
    </Console>

  </Appenders>

  <Loggers>
    <!-- Spring restricted to ERROR -->
    <Logger name="org.springframework" level="error"
      additivity="false">
      <AppenderRef ref="Console" />
    </Logger>

    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>